@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/*Barra de navegacion*/

nav {
    display: flex;
    text-align: center;
    background-color: #e1e1e1;

    flex-flow: row wrap;
    justify-content:space-around;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 20px;
}

li {
    margin: 10px 20px;
}

i {
    color: #000;
}

.button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    }

.button:focus,
.button:hover {
    color: #fff;
}

.button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
}

.button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 10px;
}

/* Titulo principal y noticia principal*/

.imagen-fondo {
    background: url(../img/fondoprincipal.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

h1 {
    font-size: 50px;
    height: 100%;
    height: 200px;
    padding-top: 4rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(221, 220, 220);
}

.h2-principal {
    color: #000;
    text-shadow: 2px 2px 5px rgb(85, 85, 85);
}
.noticias-index {
    max-height: 700px;
    width: 70%;
    background-color:rgb(218, 218, 218);
    display: flex;
    margin-top: 20px;
    border-radius: 1rem;
    border: solid 1px;
    box-shadow: 0 0 10px black;
    transition: all 0.3s ease 0s;
}

.noticias-index:hover {
    box-shadow: 0px 15px 20px #ff6900;
    color: #fff;
    transform: translateY(-7px);
    }

    .noticias-index:active {
    transform: translateY(-1px);
    }

.noticia-principal {
    text-align: center;
}

.noticia-principal-enlace {
    text-decoration: none;
}

.imagen-principal {
    text-align: center;
    margin: 20px;
    width: 800px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}


h2 {
    padding: 30px;
    color: black;
}

/*tarjetas de las noticias*/

section {
    margin: 20px auto;
    padding: 10px;
    display: flex;
}

.tarjeta {
    width: 400px;
    margin: 20px;
    border-radius: 1rem;
    border: solid 1px;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 10px black;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.tarjeta:hover {
    border: 1px solid black;
    transform: scale(1.05);
    }

.tarjeta:active {
    transform: scale(0.95) rotateZ(1.7deg);
    }

.imagen-tarjeta {
    width: 100%;
    height: 250px;
    display: flex;
    padding: 10px;
    border-radius: 1rem;
}

h3 {
    margin: 30px;
    text-align: center;
    color: black;
}

.descripcion-tarjeta {
    margin: 30px;
    color: black;
}

.btn {
    width: 150px;
    padding: 8px;
    margin-bottom: 20px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    .btn:hover {
    background-color: #fcb900;
    box-shadow: 0px 15px 20px #ff6900;;
    color: #fff;
    transform: translateY(-7px);
    }

    .btn:active {
    transform: translateY(-1px);
    }

    /*PAGINAS de la KINGSLEAGUE*/

    .imagen-fondo-kl {
        background: url(../img/fondoprincipal.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        }

    .page-noticias {
        text-align: center;
    width: 85%;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    }

    .parrafos-noticias {
        font-size: 1.5rem;
        color: #fff;
        padding-bottom: 30px;
    }

    h2 {
        font-weight: bold;
        color: #fff;
    }

    .imagen-kl {
        text-align: center;
        margin: 70px;
        width: 70%;
        height: 550px;
        border-radius: rem;
        box-shadow: 0 0 10px black;
    }

/* FOOTER */

.footer-grid {
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1px;
    box-shadow: 0 0 10px black;
}
.logo-footer {
    width: 250px;
}
.descripcion-footer {
    font-size: 1.2rem;
    text-align:justify;
}

    @media screen and (max-width:1200px) {
        .imagen-principal {
            width: 500px;
            height: 350px;
        }
        .tarjeta {
            width: 400px;
            margin: 5px;
        }
        .descripcion-tarjeta {
            margin: 5px;
        }
        section {
            flex-flow: row wrap;
            justify-content:space-around;
        }
        .imagen-kl {
            width: 80%;
            height: 450px;
            margin: 20px;
        }

        .h1-noticias {
            font-size: 30px;
            height: 100%;
        }

        .parrafos-noticias {
            font-size: 1rem;
        }
        .footer-grid {
            grid-template-columns: 1fr;
        }
        .redes-sociales {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0 auto;
            margin-top: 10px;
            
        }
        .iconos-redes {
            padding-right: 30px;
        }
        }

    @media screen and (max-width:860px) {
        
        .imagen-principal {
            width: 400px;
            height: 300px;
        }
        .imagen-fondo {
            height: 750px;
        }
        .noticias-index {
            width: 80%;
        }
        .tarjeta {
            width: 300px;
            margin: 5px;
            margin-top: 15px
        }
        .descripcion-tarjeta {
            margin: 5px;
        }
        .footer-grid {
            grid-template-columns: 1fr;
        }

        /* hojas de noticias 1-5 */

        .imagen-kl {
            width: 80%;
            height: 350px;
        }
        }

    @media screen and (max-width:659px) {
        
        .imagen-principal {
            width: 400px;
            height: 300px;
        }
        .imagen-fondo {
            height: 750px;
        }
        .noticias-index {
            width: 80%;
        }
        .tarjeta {
            width: 250px;
            margin: 5px;
            margin-top: 15px;
            font-size: 12px;
        }
        .descripcion-tarjeta {
            display: none;
        }
        .imagen-tarjeta {
            width: 100%;
            height: 200px;
            display: flex;
            padding: 10px;
            border-radius: 1rem;
        }
        .footer-grid {
            grid-template-columns: 1fr;
        }
        .descripcion-footer {
            font-size: 1rem;
        }

        /* hojas de noticias 1-5 */

        .imagen-kl {
            width: 90%;
            height: 300px;
        }
        }

    @media screen and (max-width:560px) {
        .imagen-principal {
            width: 300px;
            height: 250px;
        }
        .noticias-index {
            width: 90%;
        }
        .footer-grid {
            grid-template-columns: 1fr;
        }
        .descripcion-footer {
            font-size: 1rem;
        }
        .tarjeta {
            margin: 5px;
            font-size: 12px;
        }
        }

        @media screen and (max-width: 559px){

            .tarjeta {
                width: 200px;
                margin-top: 15px;
                font-size: 12px;
            }
            .imagen-tarjeta {
                height: 150px;
                display: flex;
                padding: 3px;
                border-radius: 1rem;
            }
            .btn {
                width: 150px;
                padding: 2px;
                margin-bottom: 10px;
                padding: 10px;
                }
                h3 {
                    font-size: 12px;
                }
            }

        @media screen and (max-width: 456px){
            .tarjeta {
                width: 170px;
                margin-top: 15px;
                font-size: 12px;
            }
            .imagen-tarjeta {
                height: 120px;
                padding: 3px;
                border-radius: 1rem;
            }
            h3 {
                font-size: 12px;
                margin: 15px;
            }
            .imagen-kl {
                width: 90%;
                height: 240px;
                margin: 20px;
            }
            .redes-sociales {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin: 0 auto;
                margin-top: 10px;

            }
            li {
                margin: 10px 0px;
            }
            }
            